# Hard-wired components on the Shasta Plus board
set_io  WF_LED       31
set_io  WF_CLK       35
set_io  WF_BUTTON    42
set_io  WF_NEO       32
set_io  WF_CPU1      11
set_io  WF_CPU2      12
set_io  WF_CPU3      13
set_io  WF_CPU4      10
